.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ml16 {
  color: #402d2d;
  padding: 20px 0;
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  overflow: hidden;
}
.badge{
  font-size: 14px;
}
.simpleCal{
  font-family: sans-serif;
  margin: 50px auto;
  padding:10px;
  width: 30% ;
  border: 1px solid rgb(31, 80, 59);
  background-color: #282c34;
  border-radius: 10px;
  box-shadow: 5px 8px 8px rgb(16, 231, 99);
  opacity: 0;
}

@media (max-width:767px){
  .simpleCal{
    width: 90%;
  }
  .ml16{
    font-size: 4vh;
  }
}

.simpleCal .simpleResult{
  background-color: rgba(1, 1, 1, .7);
  border-radius: 10px;
  height: 75px;
  font-size: 45px;
  text-align: right;
  padding: 8px;
  margin-bottom: 8px;
  color: #FFFFFF;
}
.simpleCal .row{
  /* margin: auto; */
  justify-content: center;
}
.btn-circle{
  border-radius: 50px;
  margin: 5px;
  background-color: azure;
  font-size: 25px;
  transition: 0.2s all ease-in-out;
}

.btn-circle:hover{
  box-shadow: 0px 2px 8px rgb(16, 231, 99);
  transform: scale(1.1);
}

.weightCal{
  font-family: sans-serif;
  margin: 50px auto;
  padding:10px;
  width: 50% ;
  border: 1px solid rgb(31, 80, 59);
  background-color: #282c34;
  border-radius: 10px;
  box-shadow: 5px 8px 8px rgb(16, 231, 99);
  opacity: 0;
}
@media (max-width:767px){
  .weightCal{
    width: 90%;
  }
}

.weightCal .simpleResult{
  background-color: rgba(1, 1, 1, .7);
  border-radius: 10px;
  height: 75px;
  font-size: 45px;
  text-align: right;
  padding: 8px;
  margin-bottom: 8px;
  color: #FFFFFF;
}
.weightCal .row{
  /* margin: auto; */
  justify-content: center;
}
.weightCal label{
  font-size: 20px;
  color: azure;
}
@media (max-width:767px){
  .weightCal .simpleResult{
    font-size: 5vh;
  }
  .weightCal label{
    font-size: 3vh;
    color: azure;
  }
}

